*{
    background-color: rgb(231, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    
    z-index: 0;

}
.brand{
    text-decoration: none;
}
a>p{
    color: sienna;
}
#logo{
    width: 150px;
    height: 60px;

}
ul{
    display: flex;
    margin-left: auto;
    list-style: none;
    margin-right: 20px;
}
.links{
    text-decoration: none;
    margin: 0px 30px;
    color: rgb(92, 80, 80);
    font-size: large;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
   
}
.links:hover{
    background-color: rgb(193, 157, 157);
}
.front-image{
    width: 100%;
    height: 600px;
    background-image: url('./sound\ +\ color\ studios\ \(1\).png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    
    
}
#front{
    width: 100%;
    background-color: rgb(93, 93, 93);
}
.resp{
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 230, 230);
}
.trainer-content{
    flex: 1;
    padding: 30px 60px;
}
.trainer-content>h1{
    font-size: 50px;
    color: rgb(104, 102, 102);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.trainer-content>p{
    color: rgb(64, 63, 63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trainer-content>a>button{
    background-color: brown;
    color: aliceblue;
    border: 0px;
    padding: 5px 10px;
    margin: 10px;

}
.trainer-content>button{
    background-color: brown;
    color: aliceblue;
    border: 0px;
    padding: 5px 10px;
    margin: 10px;

}

.trainer-image{
    flex: 1;
    justify-content: center;
    align-items: center;

    padding-left: 100px;
    
}
.trainer-image>img{
    height: 400px;
    width: 400px;
    
}
#practice{
    background-color: rgb(231, 230, 230);
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#practice h1{
    margin: 10px 400px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(84, 44, 44);
    
}
#practice p{
    margin: 10px 350px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(64, 63, 63);
}
.yoga{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231, 230, 230);
    

}
.category{
    width: 300px;
    height: 300px;
    margin: 10px ;
}
.category>a{
     width: 300px;
     height: 300px;
     text-decoration: none;
     text-align: center;
     color: rgb(84, 53, 53);
        position: relative;
        overflow: hidden;

    
}
.enlarge-image{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.category a:hover .enlarge-image{
    transform: scale(1.2);
}

.category>a>img{
    width: 250px;
    height: 300px;
}
.category>a>h4{
    text-align: left;
    font-weight: 400;
    font-size: 15px;
}
.level-container{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    
    

}
.level-items{
    width: 700px;
    height: 350px;
    text-align: center;
    margin: 150px 50px 10px 50px;
}
iframe{
    width: 600px;
    height: 350px;
    margin-left: 50px;
}
.b1{
    padding: 20px 200px;
    background-color: rgb(203, 132, 112);
    color: rgb(251, 251, 251);
    font-size: 25px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 0px 4px 8px rgba(76, 27, 27, 0.2);
    
}
#but{
    margin-top: 120px;
}
.lvls{
    margin: 30px 50px ;
    text-align: center;
    position: relative;
    overflow: hidden;


}
.b1{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.lvls:hover .b1{
    transform: scale(1.2);
}

.exp{
    width: 100%;
    text-align: center;
    margin: 10px
    

}
.exp>h2{
    font-weight: 700;
    font-size: 40px;
    color: rgb(47, 47, 62);
}
.exp>p{
    color: rgb(47, 47, 62);
}
#join{
    width: 100%;
    height: 400;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231, 230, 230);
    

}
.join-level{
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 50px 50px 10px 50px;
    
}

.join-level>img{
    width: 300px;
    height: 350px;
    
    transition: transform 0.3s ease;
    
}
.join-level:hover img{
    transform: scaleX(-1);
}

.join-level  h3{
    color: rgb(47, 47, 62);
    margin-top: 3px;
}
.join-level  p{
    color: rgb(47, 47, 62);
    margin-top: 3px;

}
.join-level button{
    background-color: rgb(47, 47, 62);
    color: aliceblue;
    padding: 4px;
    border: 0;
}
.trial{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 50px 50px 100px;
    
}
.free>img{
    width: 550px;
    height: 339px;
    margin-left: -30px;
    padding: 100px 0px 50px 50px;
}
.free>a>button{
    color: white;
    background-color: rgb(106, 44, 44);
    border: 0px;
    padding: 6px;
}
.free>a>button:hover{
    background-color: rgb(235, 219, 202);
}
#para{
    width: 500px;
    text-align: center;
    padding-top: 130px;
    height: 339px;
    margin-top: 100px;
    
}
#para>h2{
    font-size: 35px;
    font-weight: 700;
    color: rgb(86, 51, 51);
}
#para>p{
    font-size: 20px;
    color: rgb(86, 51, 51);
}
#para>button{
    background-color: rgb(86, 51, 51);
    font-size: 15px;
    border: 0px;
    padding: 10px;
    text-align: center;
    color: aliceblue;
}
#im{
    height: 339px;
}
.footer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(192, 164, 159);
    margin-left: 0px;
}
.footer-sec{
    background-color: rgb(192, 164, 159);
    margin-left: 0px;
    padding-left: 0px;
    
    
}
.footer-sec h1{
    background-color: rgb(192, 164, 159);
    color: rgb(65, 24, 24);
    text-align: left;
    float: left;
    
}
.footer-sec p{
    background-color: rgb(192, 164, 159);
    font-weight: 600;
    color: rgb(61, 60, 60);
    text-align: left;
}
.footer-sec h2{
    background-color: rgb(192, 164, 159);
    color: rgb(65, 24, 24);
    padding-top: 20px;
}
.footer-sec a{
    text-decoration: none;
    
}
.footer-sec a h4{
    background-color: rgb(192, 164, 159);
    color:rgb(65, 24, 24);
    text-align: center; 
    font-weight: 500;  
}
.footer-sec a h4:hover{
    background-color: rgb(123, 90, 104);
}
.footer-sec button{
    
    border: 0px;
    background-color: rgb(65, 24, 24);
    color: wheat;
    padding: 4px 10px;
}
#inp{
    border: 0;
    
}
.input{
    line-height: 30px;
}
.link-sec{
    background-color: rgb(192, 164, 159);
    text-align: center;
    padding: 0;
    margin: 0;

}
.sec{
    display: flex;
    background-color: rgb(192, 164, 159);
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
.ln{
    background-color: rgb(192, 164, 159);
    

}
.logo{
    margin-left: 0px;
}
.checkbtn{
    font-size: 30px;
    color: brown;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
button:hover{
    background-color: rgb(151, 98, 98);
}
.yoga>a>img{
    transition: width 2s, height 2s;
}
.yoga>a>img:hover{
    width: 300px;
    height: 350px;
}
.ln{
    margin: 5px 10px;
}
#btn:hover{
    background-color: brown;
}

@media screen and (min-width:470px) and ( max-width: 768px) {
    
    header{
        position: fixed;
    }
    .checkbtn{
        display: block;
    }
    .nav-links{
        position: fixed;
        width: 50%;
        height: 100vh;
        display: block;
        top: 30px;
        left: 0;
        text-align: center;
        left: -150%;
        transition: all .5s;

    }
    .nav-links li a{
        font-size: 20px;
        display: block;
        font-weight: 700;
    }
    .nav-links li{
        margin: 50px 0;
        display: block;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .front-image{
        width: 100%;
        height: 400px;
        background-image: url('./sound\ +\ color\ studios\ \(1\).png');
        background-size: cover;
        background-position: center;
        padding: 20px;
    }
    .resp{
     display: block;
    }
    .trainer-content,.trainer-content{
        padding: 20px;
        text-align: center;
    }
    .trainer-image{
        padding-left: 2;
    }
    .trainer-image>img{
        width: 300px;
        height: 300px;
    }
    .trainer-content>h1{
        font-size: 35px;
    }
    #practice{
        text-align: center;
        margin-top: 20px;
        
        padding: 200px 20px 10px 20px;
        display: block;
    }
    #practice h1{
        margin: 10px auto;
        font-size: 24px;
        
        
    }
    #practice p{
        margin: 10px auto;
        font-size: 18px;
        font-weight: 600;
        color: rgb(64, 63, 63);
    }
    .yoga{
        
        display: flex;
        flex-wrap: wrap;
    }
    .category{
        width: 250px;
        height: 300px;
    }
    #level{
        margin-left: 0px;
    }
    .level-container{
        display: block;
        margin-left: 0px;
    }
    .level-items{
        margin: 0px;
    }
    .level-items>iframe{
        width: 500px;
        padding-left: 10px;

    }
    #join{
        display: flex;
        flex-wrap: wrap;
    }
    .join-level{
        height: 400px;
        padding: 2px;
    }
    .join-level>img{
        width: 200px;
        height: 250px;
    }
    .trial{
        display: block;
    }
    #im{
        padding-left: 0px;
        margin-left: 0px;
    }
    .footer{
        width: 100%;
        display: flex;
        margin-top: 200px;
    }
    .logo>p{
        display: none;

    }
    .category{
        height: 500px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(107, 62, 69);
    }
    
}
@media screen and (max-width:469px) {
    header{
        position: fixed;
    }
    .checkbtn{
        display: block;
    }
    .nav-links{
        position: fixed;
        width: 50%;
        height: 100vh;
        display: block;
        top: 30px;
        left: 0;
        text-align: center;
        left: -150%;
        transition: all .5s;

    }
    .nav-links li a{
        font-size: 20px;
        display: block;
        font-weight: 700;
    }
    .nav-links li{
        margin: 50px 0;
        display: block;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .front-image{
        width: 100%;
        height: 400px;
        background-image: url('./sound\ +\ color\ studios\ \(1\).png');
        background-size: cover;
        background-position: center;
        padding: 20px;
    }
    .resp{
     display: block;
    }
    .trainer-content,.trainer-content{
        padding: 20px;
        text-align: center;
    }
    .trainer-image{
        padding-left: 2;
    }
    .trainer-image>img{
        width: 300px;
        height: 300px;
    }
    .trainer-content>h1{
        font-size: 35px;
    }
    #practice{
        text-align: center;
        margin-top: 20px;
        
        padding: 300px 20px 10px 20px;
        display: block;
    }
    #practice h1{
        margin: 10px auto;
        font-size: 24px;
        
        
    }
    #practice p{
        margin: 10px auto;
        font-size: 18px;
        font-weight: 600;
        color: rgb(64, 63, 63);
    }
    .yoga{
        
        display: flex;
        flex-wrap: wrap;
    }
    .category{
        width: 250px;
        height: 300px;
    }
    #level{
        margin-left: 0px;
    }
    .level-container{
        display: block;
        margin-left: 0px;
    }
    .level-items{
        margin: 0px;
    }
    .level-items>iframe{
        width: 500px;
        padding-left: 10px;

    }
    #join{
        display: flex;
        flex-wrap: wrap;
    }
    .join-level{
        height: 400px;
        padding: 2px;
    }
    .join-level>img{
        width: 200px;
        height: 250px;
    }
    .trial{
        display: block;
    }
    #im{
        padding-left: 0px;
        margin-left: 0px;
    }
    .footer{
        width: 100%;
        display: block;
        margin-top: 200px;
    }
    .logo>p{
        display: none;

    }
    .category{
        height: 500px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(107, 62, 69);
    }
    
    
    
}

/*  */